@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}
body{
  height:100vh;
  display:flex; 
  flex-direction:column; 
}
main {
  height: 100%;
}
.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0 20px 0;
}
.header_logo>img{
  width: 300px;
}
.recipe-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(224, 224, 224);
}
.recipe-list>header{
  padding: 20px;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}
.recipe-items {
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 80%;
}
.recipe-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: 0 50px 50px 50px;
  text-align: center;
}
.recipe-item>a{
  padding: 10px;
}
.recipe-item>a>img{
  width: 300px;
  max-height: 180px;
}
footer{
  margin-top:auto; 
  height: 100px;
  color: rgb(206, 206, 206);
  background-color: rgb(48, 48, 48);
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipe_content{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(224, 224, 224);
}
.recipe_content_header{
  padding: 30px;
  font-size: 1.5em;
}
.recipe_img{
  width: 500px;
  margin-bottom: 10px;
}
.recipe_detail{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.recipe_detail>p{
  margin-bottom: 10px;
}
.more_option{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.more_option_list{
  display: flex;
  flex-direction: row;
}
.more_option_list_item{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: 10px 5px 10px 5px;
  text-align: center;
}
.more_option_list_item>a>img{
  width: 100px;
  height: 80px;
}
footer>p{
  bottom: auto;
}